@{
    bool isDoctorPortal = ViewData["IsDoctorPortal"] is null ? false : (bool)ViewData["IsDoctorPortal"];
    bool isDashboard = Context.Request.Path.StartsWithSegments("/dashboard");
    bool isInbox = Context.Request.Path.StartsWithSegments("/inbox");
    bool isAppointments = Context.Request.Path.StartsWithSegments("/appointments");
    bool isPayments = Context.Request.Path.StartsWithSegments("/payments");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickConsult</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/lucide-font/lucide.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QuickConsult.styles.css" asp-append-version="true" />
</head>

<body class="d-flex">
    <aside class="qc-sidebar">
        <nav>
            <ul>
                <div class="brand">
                    @if (isDoctorPortal)
                    {
                        <img src="~/images/doctor_quickconsult_logo.png" width="auto" height="120px" />
                    }
                    else
                    {
                        <img src="~/images/quickconsult_logo.png" width="auto" height="120px" />
                    }
                </div>
                <div>
                    <li @Html.Raw(isDashboard ? "active" : "")>
                        <a href="/dashboard">
                            <div class="icon-layout-dashboard"></div>
                            Dashboard
                        </a>
                    </li>
                    <li @Html.Raw(isInbox ? "active" : "")>
                        <a href="/inbox">
                            <div class="icon-inbox"></div>
                            Inbox
                        </a>
                    </li>
                    <li @Html.Raw(isAppointments ? "active" : "")>
                        <a href="/appointments">
                            <div class="icon-calendar-days"></div>
                            Appointments
                        </a>
                    </li>
                </div>
                <li>
                    <a href="/logout">
                        <div class="icon-log-out"></div>
                        Logout
                    </a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </nav>
    </aside>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>